#root{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,152,149,1) 0%, rgba(0,212,255,1) 100%);
    height: 1000px;
    width: 100%;   
}
li{
    list-style: none;
}
.name{
    font-size: 50px;
    line-height: 100px;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    display: block;
}
#container{
    background-color: #fff;
    width: 500px;
    height: fit-content;
    min-height: 500px;
    margin: auto auto;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}

.input-job{
    width: 300px;
    height: 40px;
    margin: 20px 20px;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 10px;

}

.add-btn{
    margin: 20px 20px 20px 0;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 10px;
    background-color: #7db7db;
}


.ti-plus{
    font-size: 18px;
}
.job-list{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.job-item{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #e0ebeb;
    height: 50px;
    font-family: Poppins;
    font-size: 25px ;
    font-weight: 400;
    line-height: 1.6;
    border-radius: 10px;
    
}
.close-btn{
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
;
}
.add-btn:hover,
.close-btn:hover{
    cursor: pointer;
}

@media (max-width: 740px){
    #container{
        width: fit-content;
    }
    .wrapper{
        flex-direction: column;
    }
    .add-btn{
        margin: 0 20px;
        height: 50px;
    }
}