#root{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,152,149,1) 0%, rgba(0,212,255,1) 100%);
    min-height: 1000px;
    width: 100%;   
}
li{
    list-style: none;
}
.name{
    font-size: 50px;
    line-height: 100px;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    display: block;
}
#container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    height: fit-content;
    min-height: 500px;
    margin: auto auto;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}

.input-job{
    width: 300px;
    height: 40px;
    margin: 20px 20px;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 10px;

}

.btn-container{
    margin-top: 50px;
    position: relative;
    flex: 1;
}

.btn{
    margin: 0 20px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
}

.save-btn{
    position: absolute;
    width: calc(50% - 30px);
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    background-color: #DEDEDE;
}
.save-btn:hover,
.done-btn:hover{
    cursor: pointer;
}

.done-btn{
    position: absolute;
    width: calc(50% - 30px);
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    background-color: #49BEB7;
}

.add-btn{
    margin: 20px 20px 20px 0;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 10px;
    background-color: #7db7db;
}


.ti-plus{
    font-size: 18px;
}
.job-list{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.job-item{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    /* padding-top: 5px; */
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #e0ebeb;
    height: fit-content;
    font-family: Poppins;
    font-size: 25px ;
    font-weight: 400;
    line-height: 1.6;
    border-radius: 10px;
    overflow: hidden;
    
}
.job-done{
    text-decoration: line-through;
    color: #a3c2c2;
}
/* .job-item:hover > .close-btn{
    animation: slideInRight;
    animation-duration: 1s;
    display: inline-block;
} */
.job-name{
    flex: 1;
    padding-right: 10px;
}
.check-btn{
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}
.close-btn{
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 15px;

}
.check-btn:hover,
.add-btn:hover,
.close-btn:hover{
    cursor: pointer;
}

@media (max-width: 740px){
    #container{
        width: fit-content;
    }
    .wrapper{
        flex-direction: column;
    }
    .add-btn{
        margin: 0 20px;
        height: 50px;
    }
    .job-item{
        width: 300px;
    }
}